<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>AddressBookImage0</string>
		<key>title</key>
		<string>新的朋友</string>
	</dict>
	<dict>
		<key>image</key>
		<string>AddressBookImage1</string>
		<key>title</key>
		<string>群聊</string>
	</dict>
	<dict>
		<key>image</key>
		<string>AddressBookImage2</string>
		<key>title</key>
		<string>标签</string>
	</dict>
	<dict>
		<key>image</key>
		<string>AddressBookImage3</string>
		<key>title</key>
		<string>公众号</string>
	</dict>
	<dict>
		<key>image</key>
		<string>AddressBookImage4</string>
		<key>title</key>
		<string>Bourbon</string>
	</dict>
	<dict>
		<key>image</key>
		<string>AddressBookImage5</string>
		<key>title</key>
		<string>Calvados</string>
	</dict>
	<dict>
		<key>image</key>
		<string>AddressBookImage6</string>
		<key>title</key>
		<string>Carasuma乌丸莲耶</string>
	</dict>
	<dict>
		<key>image</key>
		<string>AddressBookImage7</string>
		<key>title</key>
		<string>Chianti</string>
	</dict>
	<dict>
		<key>image</key>
		<string>AddressBookImage8</string>
		<key>title</key>
		<string>Gin</string>
	</dict>
	<dict>
		<key>image</key>
		<string>AddressBookImage9</string>
		<key>title</key>
		<string>工藤有希子</string>
	</dict>
	<dict>
		<key>image</key>
		<string>AddressBookImage10</string>
		<key>title</key>
		<string>江户川柯南</string>
	</dict>
	<dict>
		<key>image</key>
		<string>AddressBookImage11</string>
		<key>title</key>
		<string>Kir</string>
	</dict>
	<dict>
		<key>image</key>
		<string>AddressBookImage12</string>
		<key>title</key>
		<string>korn</string>
	</dict>
	<dict>
		<key>image</key>
		<string>AddressBookImage13</string>
		<key>title</key>
		<string>铃木园子</string>
	</dict>
	<dict>
		<key>image</key>
		<string>AddressBookImage14</string>
		<key>title</key>
		<string>Rum</string>
	</dict>
	<dict>
		<key>image</key>
		<string>AddressBookImage15</string>
		<key>title</key>
		<string>Sherry</string>
	</dict>
	<dict>
		<key>image</key>
		<string>AddressBookImage16</string>
		<key>title</key>
		<string>vodka</string>
	</dict>
	<dict>
		<key>image</key>
		<string>AddressBookImage17</string>
		<key>title</key>
		<string>小兰</string>
	</dict>
	<dict>
		<key>image</key>
		<string>AddressBookImage18</string>
		<key>title</key>
		<string>朱蒂</string>
	</dict>
</array>
</plist>
