<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>p0</string>
		<key>title</key>
		<string>服务</string>
	</dict>
	<dict>
		<key>image</key>
		<string>p1</string>
		<key>title</key>
		<string>收藏</string>
	</dict>
	<dict>
		<key>image</key>
		<string>p2</string>
		<key>title</key>
		<string>朋友圈</string>
	</dict>
	<dict>
		<key>image</key>
		<string>p3</string>
		<key>title</key>
		<string>卡包</string>
	</dict>
	<dict>
		<key>image</key>
		<string>p4</string>
		<key>title</key>
		<string>表情</string>
	</dict>
</array>
</plist>
