<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bell</key>
		<integer>0</integer>
		<key>date</key>
		<string>15:38</string>
		<key>image</key>
		<string>firstPageData0</string>
		<key>person</key>
		<string>Carasuma乌丸莲耶</string>
		<key>text</key>
		<string>任务完成的如何？</string>
	</dict>
	<dict>
		<key>bell</key>
		<integer>1</integer>
		<key>date</key>
		<string>10:00</string>
		<key>image</key>
		<string>firstPageData1</string>
		<key>person</key>
		<string>Gin</string>
		<key>text</key>
		<string>不是说了等一下吗！！！</string>
	</dict>
	<dict>
		<key>bell</key>
		<integer>0</integer>
		<key>date</key>
		<string>10:30</string>
		<key>image</key>
		<string>firstPageData2</string>
		<key>person</key>
		<string>江户川柯南</string>
		<key>text</key>
		<string>你可是银色子弹哦，新一儿子</string>
	</dict>
	<dict>
		<key>bell</key>
		<integer>0</integer>
		<key>date</key>
		<string>10:28</string>
		<key>image</key>
		<string>firstPageData3</string>
		<key>person</key>
		<string>Sherry</string>
		<key>text</key>
		<string>Welcome~Sherry!</string>
	</dict>
	<dict>
		<key>bell</key>
		<integer>1</integer>
		<key>date</key>
		<string>昨天</string>
		<key>image</key>
		<string>firstPageData4</string>
		<key>person</key>
		<string>Bourbon</string>
		<key>text</key>
		<string>我死了，你和那位的关系就要暴露了哦</string>
	</dict>
	<dict>
		<key>bell</key>
		<integer>0</integer>
		<key>date</key>
		<string>昨天</string>
		<key>image</key>
		<string>firstPageData5</string>
		<key>person</key>
		<string>Kir</string>
		<key>text</key>
		<string>你这个卧底藏的很深呐</string>
	</dict>
	<dict>
		<key>bell</key>
		<integer>0</integer>
		<key>date</key>
		<string>昨天</string>
		<key>image</key>
		<string>firstPageData6</string>
		<key>person</key>
		<string>朱蒂</string>
		<key>text</key>
		<string>A secret makes a woman woman~</string>
	</dict>
	<dict>
		<key>bell</key>
		<integer>0</integer>
		<key>date</key>
		<string>前天</string>
		<key>image</key>
		<string>firstPageData7</string>
		<key>person</key>
		<string>Rum</string>
		<key>text</key>
		<string>Sherry已死</string>
	</dict>
	<dict>
		<key>bell</key>
		<integer>0</integer>
		<key>date</key>
		<string>前天</string>
		<key>image</key>
		<string>firstPageData8</string>
		<key>person</key>
		<string>工藤有希子</string>
		<key>text</key>
		<string>Sharon，这回是我们赢了哦！</string>
	</dict>
	<dict>
		<key>bell</key>
		<integer>1</integer>
		<key>date</key>
		<string>前天</string>
		<key>image</key>
		<string>firstPageData9</string>
		<key>person</key>
		<string>Calvados</string>
		<key>text</key>
		<string>为什么叫我滚呀，怕我走路太累吗？555更加爱你了贝尔摩德我的宝❤️❤️❤️</string>
	</dict>
</array>
</plist>
